.noSelectSerie {
  background-color: transparent;
  color: white;
}

.selected {
  border: 1px solid aquamarine;
  color: aquamarine;
}

.collapsed {
  display: none;
}


.hidden {
    display: none;
}

.js-newLiElement {
  padding: 10px;
  cursor: pointer;
  list-style-type: none;
}
.js-remove-button {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.clonedLiHtmlStyle {
  border: transparent;
  color: white;
  list-style-type: none;
}
