.noSelectSerie{
    background-color: transparent;
    color: white;
}

.collapsed{
    display: none;
}

.js-newLiElement{
    padding: 10px;
    cursor: pointer;
}

.hidden{
    display: none;
}

.js-remove-button{
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
}