.headerWrapper{
    margin: 30px;
}
.header {
  &__title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  &__form {
    text-align: center;
    &--searchIcon{
      position: relative;
      z-index: 1;
      left: 25px;
      color: rgb(235, 123, 44);
      
    }
    &--searchInput{
        border-radius: 50px;
        margin-right: 10px;
        padding: 3px 40px;
        
        &::placeholder{
          text-align: center;
            
        }
    }
    &--btnSearch{
        border-radius: 5px;
        padding: 2px;
    }
  }
}
