.main{
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    .resultsSection{
        border: 1px solid aquamarine;
        padding: 10px 20px;
        width: 75%;
        height: 65vh;
        display: flex;
        flex-direction: column;
        

        &__seriesTitle{
            font-family: 'Bangers', cursive;
            text-transform: uppercase;
            letter-spacing: 8px;
            font-size: 30px;
        }

        &__seriesList{
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
        }
    }

    .favoritesSection{
        &__favoritesTitle{
            font-family: 'Bangers', cursive;
            text-transform: uppercase;
            letter-spacing: 8px;
            font-size: 30px;
        }

        &__favoritesList{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

}