@import 'core/variables';
@import 'core/reset';
@import 'core/jsStyles';
@import 'layout/header';
@import 'layout/mainSection';
@import 'layout/footer';
@import 'pages/index';

.body{
    font-family: 'Lexend Giga', sans-serif;
    font-size: 10px;
    background-color: rgb(25, 25, 27);
    color: white;
    @media(min-width: 768px){
        font-size: 12px;
    }
    @media(min-width: 1024px){
        font-size: 14px;
    }
}